{
  "trailingComma": "none",
  "bracketSpacing": true,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "semi": false,
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown",
        "trailingComma": "none",
        "bracketSpacing": true,
        "singleQuote": true,
        "useTabs": false,
        "arrowParens": "avoid",
        "semi": false,
        "tabWidth": 4
      }
    }
  ]
}
